{% extends "shablon.html" %} 
{% block title %}Login{% endblock %} 
{% block body %}
<div class="container">
    <main class="form-signin w-100 m-auto">
        <form method="POST" action="/login">
            <img class="mb-4" src="/static/images/Ikonka.png" alt="" width="72" height="72">
            <div class="text-danger">
                {% if error %}
                    {{ error }}
                {% endif %}
            </div>
            <h1 class="h3 mb-3 fw-normal">Пожалуйста введите данные для регистрации</h1>

          
            
            <div class="form-floating">
                <input type="text" class="form-control" id="login" name="email" placeholder="email">
                <label for="floatingInput">Введите адрес электронной почты</label>
            </div>
            <div class="form-floating">
                <input type="name" class="form-control" id="phone_number" name="phone_number" placeholder="phone">
                <label for="floatingPassword">Введите номер телефона</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="floatingPassword">Введите новый пароль</label>
            </div> <div class="form-floating">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
                <label for="floatingPassword">Подтвердите новый пароль</label>
            </div>
            
            
            
             <a href="/auth"><p class="mt-5 mb-3 text-body-secondary">Уже имеете существующий аккаунт?</p></a>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
        </form>
    </main>
</div>
{% endblock %}
